@{
    Layout = "~/views/shared/_login.cshtml";
}
<div class="forms-container">
    <div class="signin-signup">
        <form action="#" class="sign-in-form">
            <h2 class="title">Sign in</h2>
            <div class="input-field">
                <i class="fas fa-user"></i>
                <input type="text" placeholder="Username" />
            </div>
            <div class="input-field">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Password" />
            </div>
            <input type="submit" value="Login" class="btn solid" />

        </form>
    </div>
</div>

<div class="panels-container">
    <div class="panel left-panel">
        <div class="content">
            <h3>New here ?</h3>
            <p>
                Register New Account For E-Shoping
            </p>
            <input type="button" value="Sign up" id="singup" class="btn transparent">
               
        </div>
        <img src="~/Image/register.svg" class="image" alt="" />
    </div>
    
</div>
    