
@{
    @*ViewData["Title"] = "singup";*@
    Layout = "~/Views/Shared/_login.cshtml";
}

<div class="forms-container">
    <div class="signin-signup">

        <form action="#" class="sign-in-form">
            <h2 class="title">Sign up</h2>
            <div class="input-field">
                <i class="fas fa-user"></i>
                <input type="text" placeholder="Username" />
            </div>
            <div class="input-field">
                <i class="fas fa-envelope"></i>
                <input type="email" placeholder="Email" />
            </div>
            <div class="input-field">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Password" />
            </div>
            <input type="submit" class="btn" value="Sign up" />
        </form>



    </div>
</div>

<div class="panels-container">
    <div class="panel left-panel">
        <div class="content">
            <h3>One of us ?</h3>
            <p>
                Already Account Avalible Login Here.
            </p>
            <button class="btn transparent" id="sign-in">
                Sign in
            </button>
        </div>
        <img src="~/Image/register.svg" class="image" alt="" />
    </div>
</div>
